<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.username">yoyo</property>        
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>     
        <property name="hibernate.connection.url">jdbc:mysql://192.168.31.138:3306/imooc?useUnicode=true&amp;characterEncoding=UTF-8</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>        
        <property name="hibernate.default_schema">imooc</property>
        
        <property name="show_sql">true</property>
		<!--     	
		<property name="format_sql">true</property>
		 -->    	
 		<property name="hbm2ddl.auto">update</property>
    	<property name="hibernate.current_session_context_class">thread</property>
    	
    	<mapping resource="com/imooc/entity/Student.hbm.xml"/>
    	<mapping resource="com/imooc/entity/Grade.hbm.xml"/>
    	<mapping resource="com/imooc/entity/Project.hbm.xml"/>
    	<mapping resource="com/imooc/entity/Employee.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
